aioredis==1.3.1
alabaster==0.7.12
appdirs==1.4.4
asgiref==3.3.0
astroid==2.6.2
async-timeout==3.0.1
attrs==20.2.0
autobahn==20.7.1
Automat==20.2.0
autopep8==1.5.7
Babel==2.8.0
backports.entry-points-selectable==1.1.0
black==21.6b0
bootstrap-py==1.0.2
boto3==1.18.7
botocore==1.21.20
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.3
channels==2.4.0
chardet==3.0.4
charset-normalizer==2.0.3
click==8.0.1
constantly==15.1.0
cryptography==3.2
daphne==2.5.0
defusedxml==0.6.0
diff-match-patch==20181111
distlib==0.3.2
Django==3.1.8
django-allauth==0.45.0
django-appconf==1.0.4
django-avatar==5.0.0
django-bootstrap-form==3.4
django-compressor==2.4.1
django-cors-headers==3.7.0
django-crispy-forms==1.12.0
django-debug-toolbar==3.2.2
django-import-export==2.5.0
django-libsass==0.8
django-mathfilters==1.0.0
django-model-utils==4.1.1
django-notifications-hq==1.6.0
django-nyt==1.2
django-paypal==1.1.1
django-render-block==0.7
django-rest-knox==4.1.0
django-sass==1.0.1
django-sass-compiler==1.1.0
django-sass-processor==1.0.1
django-storages==1.11.1
django-su==0.9.0
django-suit==2.0a1
django-tinymce==3.3.0
django-web-profiler==0.1.4
djangorestframework==3.12.4
docutils==0.17.1
et-xmlfile==1.0.1
filelock==3.0.12
future==0.15.2
gitdb==4.0.7
GitPython==3.1.18
google-api-core==2.0.0
google-auth==2.0.1
google-cloud-core==2.0.0
google-cloud-datastore==2.1.6
googleapis-common-protos==1.53.0
grpcio==1.39.0
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hiredis==1.1.0
hpack==3.0.0
hstspreload==2020.5.5
httpx==0.12.1
hyperframe==5.2.0
hyperlink==20.0.1
idna==2.10
imagesize==1.2.0
immutables==0.12
imutils==0.5.4
incremental==17.5.0
isort==5.9.1
jdcal==1.4.1
Jinja2==3.0.1
jmespath==0.10.0
josepy==1.1.0
jsonfield==3.1.0
jsonpatch==1.32
jsonpointer==1.10
lazy-object-proxy==1.6.0
ldif3==3.1.1
libcst==0.3.20
libsass==0.21.0
MarkupPy==1.14
MarkupSafe==2.0.1
mccabe==0.6.1
memcache==0.8.0
mock==2.0.0
msgpack==1.0.0
mypy-extensions==0.4.3
mysqlclient==2.0.3
ndg-httpsclient==0.4.4
netifaces==0.10.4
notifications==0.3.2
numpy==1.21.0
oauthlib==3.1.0
odfpy==1.4.1
opencv-python==4.5.2.54
openpyxl==3.0.3
optionaldict==0.1.1
packaging==21.0
parsedatetime==2.4
pathspec==0.8.1
paypal==1.2.5
paypalrestsdk==1.13.1
paypay==0.1.0
pbr==3.1.1
pguard==0.4.0
Pillow==8.1.1
Pinax==0.9a2
pinax-badges==3.0.0
pipenv==2021.5.29
platformdirs==2.0.2
prices==1.0.0
proto-plus==1.19.0
protobuf==3.17.3
psycopg2-binary==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.7.2
Pygments==2.9.0
PyHamcrest==2.0.2
PyJWT==2.1.0
pylint==3.0.0a4
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyRFC3339==1.0
pyserial==3.4
python-alipay-sdk==1.10.1
python-card-me==0.9.3
python-dateutil==2.8.1
python-debian==0.1.32
python-dotenv==0.18.0
python-memcached==1.59
python3-openid==3.1.0
pytz==2020.1
PyYAML==5.4.1
rcssmin==1.0.6
regex==2021.7.6
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.8.0
requests-unixsocket==0.1.5
rfc3986==1.4.0
rjsmin==1.1.0
rsa==4.7.2
s3transfer==0.5.0
SecretStorage==2.3.1
service-identity==18.1.0
six==1.15.0
smmap==4.0.0
sniffio==1.1.0
snowballstemmer==2.1.0
sorl-thumbnail==12.6.3
Sphinx==4.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.1
ssh-import-id==5.7
suit==2.0.2
surlex==0.2.0
swapper==1.1.2.post1
tablib==1.1.0
toml==0.10.2
Twisted==20.3.0
txaio==20.4.1
typing==3.7.4.1
typing-extensions==3.10.0.0
typing-inspect==0.7.1
unicodecsv==0.14.1
universal-analytics-python3==1.0.1
urllib3==1.25.8
virtualenv==15.1.0
virtualenv-clone==0.5.4
wechatpy==1.8.15
wrapt==1.12.1
xlrd==2.0.1
xlwt==1.3.0
xmltodict==0.12.0
zope.interface==5.4.0
